/* =============Main content body================================================ */

.global-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 8px;
    padding: 4px;
    font-size: 1.3rem;
    color: #fcc7dd;
    text-shadow: 2px 2px 4px #e51558;
}


/* ========Header animation====================================================== */

.anime-h2 {
    width: 22.1em;
    overflow: hidden;
    border-right: .15em solid rgba(15, 14, 14, 0.904); 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
        typing 10s steps(40),
        blink-caret .75s steps(40) infinite normal;
}

@keyframes typing {
    from { width: 0 }
    to { width: 22.1em }
}
  
@keyframes blink-caret {
    from{border-right-color: rgba(15, 14, 14, 0.904);}
    to{border-right-color: transparent;}
}

/* =========================================================================== */

.content-part {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

/* =================Left Content body===================================== */

.left-content {
    width: 70%;
    /* border: 2px solid black; */
    height: 100%;
}

.left-content-header {
    position: relative;
    top: 25%;
    left: 6%;
    font-size: 1.4rem;
    text-shadow: 2px 2px 5px #ed1d1dd1;
    /* text-shadow: 2px 2px 5px #c261fed1; */
}

.left-content-content {
    position: relative;
    top: 50%;
    left: 23%;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: black;
    text-shadow: 2px 2px 6px #c42424;
}

.left-content-content span {
    background-color: rebeccapurple;
    padding: 2px 7px;
    cursor: pointer;
    box-shadow: 2px 2px 3px 0px black;
}

.left-content-content button {
    position: relative;
    left: 4.5%;
    margin: 40px 0px 0px 25px;
    padding: 7px;
    width: 11rem;
    font-size: 1.11rem;
    /* box-shadow: 1px 1px 5px 0px #2a2828; */
    cursor: pointer;
    background-color: #ffffff52;
    border: 5px solid transparent;
    border-image: linear-gradient(to top right, #281880, #f87e7e);
    border-image-slice: 1;
    color: black;
    transition: all 0.3s ease;
}

.left-content-content button:hover {
    background-image: linear-gradient(to top right,#281880, #f87e7e);
    color: white;
}

/* ============================================================================== */

/* ===============Right content body=============================================== */

.right-content {
    width: 30%;
    height: 100%;
    /* border: 2px solid yellow; */
}

.image {
    position: relative;
    left: 30px;
    top: 100px;
}

.image img{
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 50%;
}

/* ============================================================================= */

/* ================================================================================ */


/* =====================Media queries============================================= */

@media only screen and (max-width: 1050px) and (min-width: 760px) {
    .global-header {
        text-align: center;
    }
    .content-part {
        flex-flow: column-reverse nowrap;
    }
    .left-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        /* border: 2px solid black; */
        margin-top: 10px;
    }
    .left-content-header {
        position: static;
        /* border: 2px solid black; */
        text-align: center;
        margin: 4px 1px;
        padding: 4px;
    }
    .left-content-content {
        position: static;
        line-height: 50px;
    }
    .left-content-content h3{
        text-align: center;
        padding: 4px 0px;
        margin-top: 7px;
    }
    .left-content-content button {
        position: static;
        display: block;
        margin: 0px auto;
        margin-top: 15px;
    }
    .right-content {
        width: 100%;
    }
    .image {
        position: static;
        width: 50%;
        margin: 1px auto;
        padding: 10px;
        /* border: 2px solid black; */
    }
    .image img {
        display: block;
        width: 50%;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 760px) {
    .global-header {
        text-align: center;
    }
    .content-part {
        flex-flow: column-reverse nowrap;
    }
    .left-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        /* border: 2px solid black; */
        margin-top: 10px;
    }
    .left-content-header {
        position: static;
        /* border: 2px solid black; */
        text-align: center;
        margin: 4px 1px;
        padding: 4px;
    }
    .left-content-content {
        position: static;
        line-height: 50px;
    }
    .left-content-content h3{
        text-align: center;
        padding: 4px 0px;
        margin-top: 7px;
    }
    .left-content-content button {
        position: static;
        display: block;
        margin: 0px auto;
        margin-top: 15px;
    }
    .right-content {
        width: 100%;
    }
    .image {
        position: static;
        width: 50%;
        margin: 1px auto;
        padding: 10px;
        /* border: 2px solid black; */
    }
    .image img {
        display: block;
        width: 50%;
        margin: 0px auto;
    }
    .anime-h2 {
        overflow-y: auto;
        white-space: normal;
        animation: normal;
        border-right: none;
        letter-spacing: normal;
    }
}
