<nav class="nav-container">
    <div class="logo-container">
        <div class="logo">
            <span>RahulTiwari</span>
        </div>
    </div>

    <div class="nav-item-container">
        <ul class="nav-items">
            <li class="nav-item">
                <a href="/" <% if (title === 'Home') { %>id="active" <% } %> ><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="nav-item">
                <a href="/experiences" <% if (title === 'Experiences') { %>id="active" <% } %>><i class="fa fa-life-ring" aria-hidden="true"></i> Experiences</a>
            </li>
            <li class="nav-item">
                <a href="/projects" <% if (title === 'Projects') { %>id="active" <% } %> ><i class="fa fa-newspaper-o" aria-hidden="true"></i> Projects <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a href="/educations" <% if (title === 'Educations') { %>id="active" <% } %> ><i class="fa fa-graduation-cap" aria-hidden="true"></i> Educations</a>
            </li>
        </ul>
    </div>

    <div class="collapsible">
        <button id="collapsible-btn"><i class="fa fa-align-right"></i></button>
    </div>
    <div class="sidenav" id="mySidenav">
        <a href="/">Rahul</a>
        <a href="#" class="closebtn">&times;</a>
        <a href="/" class="collapsible-nav-item"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        <a href="/experiences" class="collapsible-nav-item"><i class="fa fa-life-ring" aria-hidden="true"></i> Experiences</a>
        <a href="/projects" class="collapsible-nav-item"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Projects <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <a href="/educations" class="collapsible-nav-item"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Educations</a>
    </div>
</nav>