<div class="content-body">
    <div class="graduation">
        <div class="header">
            <h1>Bachelor of Technology:-</h1>
        </div>
        <div class="content" id="college-content">
            <div id="college-details" class="details">
                <h2>National Institute of Technology, Agartala, Tripura</h2>
                <div class="middle">
                    <h3>Computer Science and Engineering</h3>
                    <div class="duration" id="college-duration">
                        <span>August 2019 - Present</span>
                    </div>
                </div>
                <div class="achievements" id="college-achievements">
                    <p>Secured 9.35 CGPA till current semester</p>
                    <p>Participated in TechFest</p>
                    <p>Participated in CulturalFest</p>
                </div>
                <div class="attachments">
                    <a href="https://drive.google.com/file/d/14U0oxwSVSRvffWVFlcoGT4USDAw8JjfU/view?usp=sharing" target="_blank">Mark Statement</a>
                </div>
            </div>
            <div class="images" id="nit-img">
                <img src="Images/nit.jpg" alt="NIT Agartala">
            </div>
        </div>
    </div>

    <div class="intermediate">
        <div class="header">
            <h1>Intermediate(12th class):-</h1>
        </div>
        <div class="content" id="school-content">
            <div id="school-details" class="details">
                <h2>Jawahar Navodaya Vidyalaya, Nalanda, Bihar</h2>
                <div class="middle">
                    <h3>Science Stream</h3>
                    <div class="duration" id="school-duration">
                        <span>July 2017 - May 2019</span>
                    </div>
                </div>
                <div class="achievements" id="school-achievements">
                    <p>Secured 94.8% marks</p>
                    <p>Participated in <a href="https://www.unifiedcouncil.com/about-nstse.html" target="_blank">National-level Science Talent Search Examination(NSTSE)</a> and
                        secured Ist rank in Bihar State</p>
                    <p>Participated in school cultural events</p>
                </div>
                <div class="attachments">
                    <a href="https://drive.google.com/file/d/1-OPL3LERfqifYjBbF2__0IF5y1UNmHls/view?usp=sharing" target="_blank">Mark Sheet</a>
                </div>
            </div>
            <div class="images" id="jnv-img">
                <img src="Images/jnv.png" alt="JNV Rajgir">
            </div>
        </div>
    </div>
</div>