<div class="content-body">
    <div class="experiences">
        <div class="exp" id="exp-1">
            <div class="header">
                <h2>Intern</h2>
            </div>
            <div class="middle">
                <div class="duration">
                    <span><i class="fa fa-building" aria-hidden="true"></i> ClearExam</span>
                </div>
                <div class="location">
                    <span><i class="fa fa-calendar" aria-hidden="true"></i> Oct 2020 - Dec 2020</span>
                </div>
            </div>
            <div class="description">
                <p>->Uploaded quiz contents on website and updated the blog website.</p>
                <p>->Improved quiz interface.</p>
                <p>->Learned about blogging.</p>
            </div>
            <div class="attachments">
                <a href="https://drive.google.com/file/d/1kw1BlhS45rVUni47t3oh055K2jRa4DKG/view?usp=sharing" target="_blank">Certificate</a>
                <a href="https://drive.google.com/file/d/1DMlW3Fk38C7nQ_6cjcqrw2bP4-ZDtDct/view?usp=sharing" target="_blank">Excellency</a>
            </div>
        </div>
        <!-- <div class="exp" id="exp-2">
            <div class="header">
                <h2>Experience - Title</h2>
            </div>
            <div class="middle">
                <div class="duration">
                    <span><i class="fa fa-calendar" aria-hidden="true"></i> Duration</span>
                </div>
                <div class="location">
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i> Location</span>
                </div>
            </div>
            <div class="description">
                <p>This is all about experiences descrition Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Neque facere, laborum nam rem eum excepturi, laudantium maxime quaerat provident, culpa recusandae
                    dignissimos? Consequuntur quaerat unde consequatur voluptatum enim! Rem, ex.</p>
            </div>
            <div class="attachments">
                <a href="#">First Link</a>
                <a href="#">Second Link</a>
            </div>
        </div> -->
        <div class="exp" id="exp-3" style="text-align: center; padding: 8px;">
            Growing skills...More will be there soon
        </div>

    </div>
</div>