<div class="content-body">
    <div class="experiences">
        <div class="exp" id="exp-1">
            <div class="header">
                <h2>Experience - Title</h2>
            </div>
            <div class="middle">
                <div class="duration">
                    <span><i class="fa fa-calendar" aria-hidden="true"></i> Duration</span>
                </div>
                <div class="location">
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i> Location</span>
                </div>
            </div>
            <div class="description">
                <p>This is all about experiences descrition Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Hic velit laboriosam quae, cumque aliquid aliquam iusto necessitatibus officia illo quis earum
                    dolorem eaque minus, tenetur suscipit et debitis eligendi iure.</p>
            </div>
            <div class="attachments">
                <a href="#">First Link</a>
                <a href="#">Second Link</a>
            </div>
        </div>
        <div class="exp" id="exp-2">
            <div class="header">
                <h2>Experience - Title</h2>
            </div>
            <div class="middle">
                <div class="duration">
                    <span><i class="fa fa-calendar" aria-hidden="true"></i> Duration</span>
                </div>
                <div class="location">
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i> Location</span>
                </div>
            </div>
            <div class="description">
                <p>This is all about experiences descrition Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Neque facere, laborum nam rem eum excepturi, laudantium maxime quaerat provident, culpa recusandae
                    dignissimos? Consequuntur quaerat unde consequatur voluptatum enim! Rem, ex.</p>
            </div>
            <div class="attachments">
                <a href="#">First Link</a>
                <a href="#">Second Link</a>
            </div>
        </div>
        <div class="exp" id="exp-3">
            <div class="header">
                <h2>Experience - Title</h2>
            </div>
            <div class="middle">
                <div class="duration">
                    <span><i class="fa fa-calendar" aria-hidden="true"></i> Duration</span>
                </div>
                <div class="location">
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i> Location</span>
                </div>
            </div>
            <div class="description">
                <p>This is all about experiences descrition Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Pariatur, voluptatibus, itaque veniam ea adipisci perferendis obcaecati neque odio libero explicabo,
                    quas earum error molestiae eius quasi unde vel? Expedita, quaerat.</p>
            </div>
            <div class="attachments">
                <a href="#">First Link</a>
                <a href="#">Second Link</a>
            </div>
        </div>

    </div>
</div>