<div class="content-body">
    <header class="global-header">
        <h2 class="anime-h2">Hello, Welcome to My Portfolio</h2>
    </header>
    <div class="content-part">
        <div class="left-content">
            <div class="left-content-header">
                <h2>Searching for Full Stack Web Developer</h2>
            </div>
            <div class="left-content-content">
                <h3>
                    <a href="" class="typewrite" data-period="2000"
                        data-type='[ "Hi, Rahul is Here", "Full Stack Web Developer", "Turning dream into code", "Love to learn new skills" ]'>
                        <span class="wrap"></span>
                    </a>
                </h3>
                <div class="buttons">
                    <button class="btn" id="hire-btn" onclick="location.href='https://drive.google.com/file/d/1HTnit_4Ts6spXmEcgFqyQsqfNzdJ7V4d/view?usp=sharing'" type="button">My Resume</button>
                    <button class="btn" id="contact-btn">Contacts</button>
                </div>
            </div>
            <div class="summary">
                <p>Energetic student eager to apply the knowledge of programming and markup languages to achieve company goals. Dedicated to working hard to make positive contributions. Quick learner with positive attitude, ready to make an immediate impact.</p>
            </div>
        </div>
        <div class="right-content">
            <div class="image">
                <img src="Images/profile.jpg" alt="profile photo">
            </div>
        </div>
    </div>
</div>
<div class="popUp hide">
    <a id="linkedIn" class="pop-btn" href="https://www.linkedin.com/in/rahul-9598" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;LinkedIn</a>
    <a id="email" class="pop-btn" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=rahultwr0005@gmail.com" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Email</a>
    <a id="gitHub" class="pop-btn" href="https://www.github.com/Ankur-9598" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i>&nbsp;GitHub</a>
</div>

<!-- <div class="feedback-form">
    <div class="f-header">
        <h4>Have Something For Me?</h4>
    </div>
    <button class="f-btn">Give Feedback</button>
</div> -->
