<div class="content-body">
    <header class="global-header">
        <h2 class="anime-h2">Hey...Welcome to My Portfolio</h2>
    </header>
    <div class="content-part">
        <div class="left-content">
            <div class="left-content-header">
                <h2>Looking for a Full Stack Web Developer</h2>
            </div>
            <div class="left-content-content">
                <h3>
                    <a href="" class="typewrite" data-period="2000"
                        data-type='[ " Hi, Rahul is Here ", " I am a Full Stack Web Developer. ", " I Love to Code. ", "Dedicated and fully Passionate" ]'>
                        <span class="wrap"></span>
                    </a>
                </h3>
                <div class="buttons">
                    <button class="btn" id="hire-btn">My Resume</button>
                    <button class="btn" id="contact-btn">Contact Me</button>
                </div>
            </div>
            <div class="summary">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, mollitia unde minima, illum nostrum
                    dolorum quisquam provident ipsam tempora possimus quia, maiores accusantium quam consequuntur
                    nesciunt tempore aliquid eos illo.</p>
            </div>
        </div>
        <div class="right-content">
            <div class="image">
                <img src="Images/pro.jpg" alt="profile photo">
            </div>
        </div>
    </div>
</div>