<div class="content-body">
    <div class="projects">
        <div class="project" id="project-1">
            <div class="header">
                <h2>$Personal Portfolio</h2>
            </div>
            <div class="description">
                <p>Developed my personal portfolio using HTML5, CSS3, JavaScript, ExpressJs and NodeJs. Website fully compatible with mobile also. Didn't used any frameworks like Bootstrap for designing. Deployed to Heroku. Working on improving and implementing some new features.</p>
            </div>
            <div class="attachments">
                <a href="https://myportfolio-rahul01.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> Website Link</a>
                <a href="https://github.com/Ankur-9598/My-Portfolio.git" target="_blank"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
            </div>
        </div>
        <div class="project" id="project-2">
            <div class="header">
                <h2>$AncoreNotes Website</h2>
            </div>
            <div class="description">
                <p>This is a notes sharing website for engineering colleges. This website uses HTML5, CSS3, Bootstrap, Javascript + jQuery, NodeJs, ExpressJs and MongoDB as a data base. User authentication using Google is also used. I worked as a Backend Developer and integrated some of the beautiful features like Upvote, Top Performer and Search. Implemented some routing also. </p>
            </div>
            <div class="attachments">
                <a href="#"><i class="fa fa-link" aria-hidden="true"></i> Website Link</a>
                <a href="#"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
            </div>
        </div>
        <div class="project" id="project-3" style="text-align: center; padding: 10px;">
            Working on some more Interesting Projects...Next time when you will be here, you will see this list grown as compare to last time.
        </div>
    </div>
</div>
