<div class="content-body">
    <div class="projects">
        <div class="project" id="project-1">
            <div class="header">
                <h2>Personal Portfolio</h2>
            </div>
            <div class="description">
                <p>Developed my personal portfolio using HTML5, CSS3, JavaScript, ExpressJs and NodeJs. Although this is not completed yet. Some fixes are required for 100%  mobile compatibility .Not used any framework like Bootstrap. Deployed to Heroku.</p>
            </div>
            <div class="attachments">
                <a href="https://myportfolio-rahul01.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> Link</a>
                <a href="https://github.com/Ankur-9598/My-Portfolio.git" target="_blank"><i class="fa fa-code" aria-hidden="true"></i> Source Code</a>
            </div>
        </div>
        <!-- <div class="project" id="project-2">
            <div class="header">
                <h2>Project - Title</h2>
            </div>
            <div class="description">
                <p>This is all about experiences descrition Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Hic velit laboriosam quae, cumque aliquid aliquam iusto necessitatibus officia illo quis earum
                    dolorem eaque minus, tenetur suscipit et debitis eligendi iure.</p>
            </div>
            <div class="attachments">
                <a href="#">First Link</a>
                <a href="#">Second Link</a>
            </div>
        </div> -->
        <div class="project" id="project-3" style="text-align: center; padding: 10px;">
            Working on some more Interesting Projects...Next time when you will be here, you will see this list grown.
        </div>
    </div>
</div>
