<div class="content-body">
    <div class="projects">
        <div class="project" id="project-1">
            <div class="header">
                <h2>Project - Title</h2>
            </div>
            <div class="description">
                <p>This is all about experiences descrition Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Hic velit laboriosam quae, cumque aliquid aliquam iusto necessitatibus officia illo quis earum
                    dolorem eaque minus, tenetur suscipit et debitis eligendi iure.</p>
            </div>
            <div class="attachments">
                <a href="#">First Link</a>
                <a href="#">Second Link</a>
            </div>
        </div>
        <div class="project" id="project-2">
            <div class="header">
                <h2>Project - Title</h2>
            </div>
            <div class="description">
                <p>This is all about experiences descrition Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Hic velit laboriosam quae, cumque aliquid aliquam iusto necessitatibus officia illo quis earum
                    dolorem eaque minus, tenetur suscipit et debitis eligendi iure.</p>
            </div>
            <div class="attachments">
                <a href="#">First Link</a>
                <a href="#">Second Link</a>
            </div>
        </div>
        <div class="project" id="project-3">
            <div class="header">
                <h2>Project - Title</h2>
            </div>
            <div class="description">
                <p>This is all about experiences descrition Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Hic velit laboriosam quae, cumque aliquid aliquam iusto necessitatibus officia illo quis earum
                    dolorem eaque minus, tenetur suscipit et debitis eligendi iure.</p>
            </div>
            <div class="attachments">
                <a href="#">First Link</a>
                <a href="#">Second Link</a>
            </div>
        </div>
    </div>
</div>
