.experiences {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.exp {
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px 5px;
    margin-bottom: 15px;
    padding: 4px 5px;
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient(70deg, #98bcc28a, #776c7c6b);
}

.header {
    padding: 3px 4px;
    border-bottom: 2px solid #762222;
    font-size: 1.01rem;
    text-align: center;
}

.middle {
    margin: 5px 4px 1px 4px;
    padding: 2px;
    display: flex;
    flex-flow: row nowrap;
    /* border: 1px solid black; */
    font-size: 1.05rem;
    justify-content: space-between;
}

.duration {
    /* position: relative;
    left:  0px; */
    padding: 2px 4px;
}

.location {
    /* position: relative;
    left: 60%; */
    padding: 2px 4px;
}

.spn {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.description {
    /* border: 1px solid black; */
    margin: 1px 4px 3px 4px;
    padding: 1px 5px 3px 5px;
    font-size: 1.02rem;
}

.description p {
    /* border: 1px solid black; */
    text-align: center;
}

.attachments {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px 2px;
    justify-content: space-around;
}

.attachments a {
    border: 1px solid black;
    margin: 5px 15px;
    padding: 2px 8px;
    text-decoration: none;
    background: gray;
    border-radius: 6px;
    color: black;
    box-shadow: 1px 1px 1px black;
}

.attachments a:hover {
    background: rgb(109, 105, 105);
}



@media only screen and (max-width: 600px) {
    .middle {
        justify-content: space-between;
    }
    .duration {
        position: static;
    }
    .location {
        position: static;
    }
    .attachments {
        justify-content: space-evenly;
    }
}